In [1]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('iris.csv')

In [4]:
df.drop('Id',axis=1,inplace=True)

In [5]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
dict1 = dict()
dict1['Iris-setosa'] = 0
dict1['Iris-versicolor'] = 1
dict1['Iris-virginica'] = 2

In [7]:
dict1

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [8]:
df['Species'] = df['Species'].map(dict1)

In [9]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [10]:
X = df.drop('Species',axis=1)
y = df['Species']

In [11]:
from sklearn.manifold import LocallyLinearEmbedding

lle = LocallyLinearEmbedding(n_components=3, n_neighbors=10)
X_reduced = lle.fit_transform(X)

In [13]:
new_df = pd.DataFrame(X_reduced,columns=['Col1','Col2','Col3'])

In [16]:
new_df

     Col1      Col2      Col3
0     0.0  0.000000 -0.041892
1     0.0  0.000000  0.095627
2     0.0  0.000000  0.098317
3     0.0  0.000000  0.165440
4     0.0  0.000000 -0.036566
..    ...       ...       ...
145   0.1 -0.079602  0.000000
146   0.1 -0.028865  0.000000
147   0.1 -0.045115  0.000000
148   0.1 -0.047987  0.000000
149   0.1  0.012965  0.000000

[150 rows x 3 columns]