In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('iris.csv')

In [4]:
df.drop('Id',inplace=True,axis=1)

In [5]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
len(df)

150

In [7]:
X = df.drop('Species',axis=1)
y = df['Species']

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
from sklearn.decomposition import PCA
rnd_pca = PCA(n_components=2, svd_solver='randomized')
X_train_reduced = rnd_pca.fit_transform(X_train)

In [10]:
type(X_train_reduced)

numpy.ndarray

In [12]:
X_train_new = pd.DataFrame(X_train_reduced,columns=['component1','component2'])

In [13]:
X_train_new

    component1  component2
0     0.321625   -0.235144
1     3.355396    0.578542
2     0.606069   -0.315582
3    -2.727847    0.438338
4     3.455577    0.501194
..         ...         ...
95    0.304646    0.007047
96    0.451960   -1.165382
97   -2.673816    1.301986
98    0.171595   -0.324695
99    2.571603    0.370163

[100 rows x 2 columns]